<div *ngFor="let document of documents; let i = index"
     [@listState]>
    <div class="col-12 project-container mb-2"
         (click)="commonService.hasDoc = true"
         routerLinkActive="active">
        <div>
            <strong *ngIf="!document.titleEditable">
                <p [class.title-selected]="commonService.selectedProject.id == document.id"
                   class="mb-0 pb-0"
                   (click)="document.titleEditable = true">
                    {{document.title}}</p>
            </strong>
            <input
                    class="form-control form-control-sm mb-2"
                    *ngIf="document.titleEditable"
                    [value]="document.title"
                    #titleVal
                    (keyup.Enter)="editTitle(document, titleVal.value)"
                    (keyup.Escape)="document.titleEditable = false"/>
        </div>
        <img (click)="commonService.selectedProject = document" src={{document.imgPath}} class="img-fluid pb-2">

        <div [@singleDocument]="document.state" (click)="animateDoc(document); commonService.selectedProject = document;">
            <div class="icons">
                <i [class.active]="document.isIdea === true"
                   class="fa fa-lightbulb-o fa-2x ml-1"
                   (click)="document.isIdea = true"
                   aria-hidden="true"></i>
                <i class="fa fa-cog fa-2x ml-1"
                   [class.active]="document.isIdea === false"
                   (click)="document.isIdea = false"
                   aria-hidden="true"></i>
                <i class="fa fa-thumbs-up fa-2x ml-1" aria-hidden="true"></i>

                <i class="fa fa-rocket fa-2x ml-1" (click)="editImg()" aria-hidden="true"></i>
                <input #fileInput type="file" class="d-none" (change)="readUrl($event, document, i)" [hidden]>
            </div>
        </div>
    </div>
</div>
