<div class="col-10 wiki-page">
    <div class="col-12 w-100 header-bar grey">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
        <span class="h5 mr-2">Project Plan</span>
        <i class="fa fa-caret-up" aria-hidden="true"></i>
        <span class="h5 mr-5">P2PATM</span>
        <span class="mr-2" (click)="saveWiki()">Read</span>
        <span class="mr-2 link" (click)="isFroalaActive = true">Edit</span>
        <span class="mr-2 link">View history</span>
        <input type="text" id="search-wiki" size="30" placeholder="Search AdelWiki">
        <i class="fa fa-angle-left fa-3x float-right light-red d-inline" id="arrow"
           (click)="isChatShown = true"></i>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <iframe #iframe src="http://128.199.237.216" width="1200" height="900" [hidden]="!isChatShown"></iframe>
    </ng-template>
    <div class="col-12 w-100 grey" id="main-content" *ngIf="commonService.hasDoc; else noid">
        <div *ngIf="commonService.selectedProject.isIdea">
            <div *ngIf="isFroalaActive">
                <div [froalaEditor]="options" [(froalaModel)]="commonService.selectedProject.text"></div>
                <ng-template #empty>
                    <div class="align-content-center text-center">
                        <p class="link" (click)="isFroalaActive = true">Start editing this idea.</p>
                    </div>
                </ng-template>
                <button class="btn btn-grey float-right mt-2" (click)="saveWiki()">Save</button>
            </div>
            <div *ngIf="!isFroalaActive" class="col-12">
                <div *ngIf="commonService.selectedProject.text; else empty"
                     [froalaView]="commonService.selectedProject.text"
                     class="bg-faded froala-wrapper froala-border">
                </div>
                <ng-template #empty>
                    <div class="col-12">
                        <p class="link align-content-center text-center" (click)="isFroalaActive = true">Start editing
                            this idea.</p>
                        <idea-placeholder></idea-placeholder>
                    </div>
                </ng-template>
            </div>
            <!--<div [innerHTML]="froalaHtml" *ngIf="!isFroalaActive"></div>-->
        </div>
        <div *ngIf="!commonService.selectedProject.isIdea">
            <div *ngIf="isFroalaActive">
                <div [froalaEditor]="options" [(froalaModel)]="commonService.selectedProject.plan"></div>
                <ng-template #empty>
                    <div class="align-content-center text-center">
                        <p class="link" (click)="isFroalaActive = true">Start editing this plan.</p>
                    </div>
                </ng-template>
                <button class="btn btn-grey float-right mt-2" (click)="saveWiki()">Save</button>
            </div>
            <div *ngIf="!isFroalaActive" class="col-12">
                <div *ngIf="commonService.selectedProject.plan; else empty"
                     [froalaView]="commonService.selectedProject.plan"
                     class="bg-faded froala-wrapper froala-border">
                </div>
                <ng-template #empty>
                    <div class="col-12">
                        <div class="align-content-center text-center">
                            <p class="link" (click)="isFroalaActive = true">Start editing this plan.</p>
                        </div>
                        <plan-placeholder></plan-placeholder>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <disqus-thread [page-identifier]="commonService.pageIdentifier"
                   [page-url]="commonService.pageUrl"></disqus-thread>

    <ng-template #noid>
        <div class="col-12 w-100 grey">
            <div class="align-content-center text-center">
                <p class="m-50">There are no current projects. Create one.</p>
            </div>
        </div>
    </ng-template>
</div>

